.members-list {
    
    padding: 1em;
    border: 4px solid springgreen;
    background-color: rgb(86, 182, 134);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    
    .member {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0.25em 0.75em;
        background-color: rgb(55, 211, 238);
        border-radius: 8px;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
        

        .fields, .values {
            display: flex;
            width: 100%;

            & > div {
                width: 50%;
            }
        }

        .values {
            padding-left: 1em;
        }
    }
}